root.xsd

<?xml version="1.0"?>


<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   xmlns:types="types"
		   targetNamespace="root"
		   xmlns:root="root">

	<xs:include schemaLocation="types.xsd"/>

	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="description" type="xs:string"/>
				<xs:element name="data">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="platforms"/>
							<xs:element name="genres"/>
							<xs:element name="pegiDescriptors"/>
							<xs:element name="games">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="game" type="types:game"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="authors"/>
			</xs:sequence>
		</xs:complexType >
	</xs:element>

</xs:schema>