types.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   xmlns:types="types"
		   targetNamespace="types">

<!-- Deklaracje typów prostych -->

	<xs:simpleType name="Day">
		<xs:restriction base="xs:positiveInteger">
			<xs:pattern value="[0-31]"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Month">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Styczeń"/>
			<xs:enumeration value="Luty"/>
			<xs:enumeration value="Marzec"/>
			<xs:enumeration value="Kwiecień"/>
			<xs:enumeration value="Maj"/>
			<xs:enumeration value="Czerwca"/>
			<xs:enumeration value="Lipiec"/>
			<xs:enumeration value="Sierpień"/>
			<xs:enumeration value="Września"/>
			<xs:enumeration value="Październik"/>
			<xs:enumeration value="Listopad"/>
			<xs:enumeration value="Grudzień"/>

			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Year">
		<xs:restriction base="xs:positiveInteger">
			<xs:minInclusive value="1900"/>
			<xs:maxInclusive value="2020"/>
			<xs:totalDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Index">
		<xs:restriction base="xs:positiveInteger">
			<xs:totalDigits value="6"/>
		</xs:restriction>
	</xs:simpleType>


<!--Deklaracje typów złożonych -->

	<xs:complexType name="Date">
		<xs:sequence>
			<xs:element name="day" type="types:Day"/>
			<xs:element name="month" type="types:Month"/>
			<xs:element name="year" type="types:Year"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Person">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="1"/>
			<xs:element name="surname" type="xs:string" minOccurs="1"/>
			<xs:element name="index" type="types:Index" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Platform">
		<xs:attribute name="id" type="xs:ID"/>
		<xs:simpleContent>
			<xs:restriction base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="Genre">
		<xs:attribute name="id" type="xs:ID"/>
		<xs:simpleContent>
			<xs:restriction base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="PegiDescriptor">
		<xs:attribute name="id" type="xs:ID"/>
		<xs:simpleContent>
			<xs:restriction base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>

</xs:schema>
