types.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   xmlns:types="types"
		   targetNamespace="types">

	<xs:complexType name="date">
		<xs:sequence>
			<xs:element name="day"/>
			<xs:element name="month"/>
			<xs:element name="year"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="person">
		<xs:sequence>
			<xs:element name="name"/>
			<xs:element name="surname"/>
			<xs:element name="index"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>
